.contact_pageform
  = form_for @contact do |f|
    .form-group
      = f.label :name, 'お名前'
      = f.text_field :name, class: 'form-group__name'
    .form-group
      = f.label :email, '返信先メールアドレス'
      = f.text_field :email, class: 'form-group__email'
    .form-group
      = f.label :subject, '件名'
      = f.text_field :subject, class: 'form-group__subject'
    .form-group_contact
      = f.label :message, 'お問い合わせ内容'
      = f.text_area :message, size: '10x10', class: 'form-group__message'
    .send_btn
      = f.submit '送信', class: 'form-group__send'
