.intro
  .bodyTop
    .bodyTop__pic
      = image_tag 'pic_two.jpg', alt: 'profile-picture', class: 'c-imgOne'
      = image_tag 'pic_one.jpg', alt: 'profile-picture', class: 'c-imgTwo'
    .bodyTop__text
      .bodyTop__text__header
        %h2.chris-intro
          Hata Christine
        %p.chris-intro-sub
          ハタ  クリスティーン
        %p.about_c
          Birthday / 誕生日
        %p.about_c
          1997.05.05
        %br
        %p.about_c
          Educational background / 学歴
        %p.about_c
          2020年3月  関西外国語大学 外国語学部 英米語学科  卒業
        %br
        %p.about_c
          My daily routine / 日課
        %p.about_c
          ・早寝早起き・読書・筋トレ・Podcastを聴くこと
        %br
        %p.about_c
          Hobby / 趣味
        %p.about_c
          ・ダンス (Hip-hop, Waack, Jazz, Lock, Popというジャンルを週５〜7日というスケジュールで12年間過ごしていました)
          %br
            ・旅行 (アメリカ7州,タイ,カナダ,ラオス,韓国)
            %br
              ・写真を撮ること (私の写真を気に入ってくださり、3ヶ月ほど京都のホテルの写真撮影を任せて頂いておりました。)
        %p.about_c
          Contact / 連絡先
        %p.about_c
          e-mail : christine.hata05@gmail.com


  .bodyMiddle
    .christines-experience
      %p.experi_c
        Experience / 経験
      %p.experi_c
        [ボランティア活動]
        %br
          ラオスの小学校建設に携わるボランティア団体に所属。実際に春と夏の２回ラオスの小学校に訪問をし、現地の方からのヒヤリングを通して出ないとしれなかったことを知る機会を頂き、帰国後はラオスの子供達の為への資金集めにさらに注力をしました。その結果、約350万円を集めることに成功し、4校目の小学校を開校することが出来ました。
      %p.experi_c
        [模擬国連]
        %br 
          2018年: JEMUN主催の模擬国連に、ビデオグラファーとして参加し、実際に国際機関で働かれるゲストスピーカーの方に様々な疑問や問題について英語でインタビューをさせて頂き、他にも参加者の取り組む姿を撮影した物の編集と発信をしました。
        %tb
          2019年: JEMUN主催の模擬国連でマリ共和国を担当し、英語を使用してのディスカッションやプレゼンテーションを通して貧困問題や男女格差問題についての解決に向けて取り組みました。
      %p.experi_c
        [短期留学] 9月から12月までの3ヶ月間、英語と社会学を学びにアメリカの西海岸にあるシアトルセントラルカレッジで短期留学をしました。
      %p.experi_c
        [プログラミング]
        %br
          英語プラス何かのスキルを活用してビジネスで活躍出来る人になりたいと考え、
          2018年6月頃から1年間ProgateでHTML/CSSとJavaScriptを独学で勉強。
          2019年8月にプログラミングスクールTechcampに入校。TechCampでは、Ruby,Haml,Scss,JavaScript,jQueryを学び、チーム開発を経験。2020年3月に大学卒業と同時に卒業し、現在Rubyを使用したブログアプリを作成しております。
  .bodyBottom
    %section.christine-work
      %h1.bodyBottom__title
        What I made / 制作したアプリ
      .app-img-part
        = image_tag '5fab6b20f9ef29ea8789a7e8c34d6ce9.gif', alt:'Image from Gyazo', width:'600px', class: 'fmarket-img'
        = image_tag 'b3d1a551f856e814261e6e8e85e46940.png', alt:'Image from Gyazo', width:'600px', class: 'blog-img'
      .app-text-part
        .app-text-part__sec_one
          .app-text-part__sec_one__titl
            チーム開発でのフリマクローンアプリ
          .app-text-part__sec_one__exp
            フリマアプリを参考にチームで作成
          .app-text-part__sec_one__exp
            = link_to 'http://13.230.11.207/'
          .app-text-part__sec_one__exp
            ID: freemarket60a Password: 7010505
          .app-text-part__sec_one__exp
            テスト用アカウント等
          .app-text-part__sec_one__exp
            購入者用
          .app-text-part__sec_one__exp
            メールアドレス: free60purchase@gmail.com
          .app-text-part__sec_one__exp
            パスワード: Free60
          .app-text-part__sec_one__exp
            購入用カード情報
          .app-text-part__sec_one__exp
            番号：4242424242424242 期限：2022 セキュリティコード：357
          .app-text-part__sec_one__exp
            出品者用
          .app-text-part__sec_one__exp
            メールアドレス名: free60sell@gmail.com
          .app-text-part__sec_one__exp
            パスワード: Free60
        .app-text-part__sec_two
          .app-text-part__sec_two__titl
            ブログアプリ
            .app-text-part__sec_two__exp
              カリキュラムを参考に作成
            .app-text-part__sec_two__exp
              = link_to 'https://chrblog.herokuapp.com/'