!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChristinesDiary
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", rel: "stylesheet"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
  %body
    %header
      .header-logo
        =link_to root_path, class: "header-logo__title" do
          CHRISTINE HATA
      -# %nav.global-nav
      -#   %ul.global-nav__list
      -#     %li.global-nav__item
      -#       = link_to "#aboutme" do
      -#         ABOUT ME
      -#     %li.global-nav__item
      -#       = link_to "#myexperience" do
      -#         EXPERIENCE
      -#     %li.global-nav__item
      -#       = link_to "#mywork" do
      -#         MY WORK
      -#     %li.global-nav__item
      -#       = link_to new_contact_path do
      -#         CONTACT
      -# #js-hamburger.hamburger
      -#   %span.hamburger__line.hamburger__line--1
      -#   %span.hamburger__line.hamburger__line--2
      -#   %span.hamburger__line.hamburger__line--3
      -# #js-black-bg.black-bg
      #nav-drawer
        %input#nav-input.nav-unshown{type: "checkbox"}/
        %label#nav-open{for: "nav-input"}
          %span
        %label#nav-close.nav-unshown{for: "nav-input"}
        #nav-content
          %ul.header-list
            %li.header-list__titl
              = link_to "#aboutme", class: "ggg" do
                ABOUT ME
            %li.header-list__titl
              = link_to "#myexperience", class: "ggg" do
                EXPERIENCE
            %li.header-list__titl
              = link_to "#mywork", class: "ggg" do
                MY WORK
            %li.header-list__titl
              = link_to new_contact_path, class: "ggg" do
                CONTACT

    = yield
    %footer
      %ul.btn-wrapper
        %li.iconss
          =link_to "https://www.instagram.com/christine_hata/?hl=ja", class:"insta_icon" do
            %i.fab.fa-instagram
        %li.iconss
          =link_to "https://twitter.com/ccccccc39279909", class:"twitter_icon" do
            %i.fab.fa-twitter
        %li.iconss
          = link_to "https://github.com/rosebychristine", class:"github_icon" do
            %i.fab.fa-github